<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head><title>Category</title></head>

<body>


<!--/*@thymesVar id="list" type=""*/-->
<div th:switch="${list}">

 <div>
    <h2  th:case="null">No Category yet!!</h2>
    <div th:case="*">
        <h2>Category</h2>
        <table>
            <thead>
              <tr>
                 <th>Status</th>
                 <th>Remarks</th>
                 <th>Delete</th>
              </tr>
            </thead>
            <tbody>
               <tr th:each="category:${list}">
                 <td th:text="${category.status}"></td>
                  <td th:text="${category.remarks}"></td>
                  <td><a th:href="@{/category/delete/{id}(id=${category.id})} ">Delete</a></td>

                </tr>
            </tbody>



            </table>
        </div>

 </div>
</div>
</body>
</html>