<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head><title>Category</title></head>

<body>




<!--/*@thymesVar id="all" type=""*/-->
<div th:switch="${all}">

        <h2 th:case="null">No Category yet!!</h2>

        <div th:case="*">
             <h2>Category</h2>
             <table>
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Status</th>
                    <th>Remarks</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category:${all}">
                    <td th:text="${category.id}"></td>
                    <td th:text="${category.status}"></td>
                    <td th:text="${category.remarks}"></td>
                    <td><a th:href="@{/category/delete/{id}(id=${category.id})} ">Delete</a></td>
                    <td><a th:href="@{/category/edit/{id}(id=${category.id})} ">Edit</a></td>

                </tr>
                </tbody>


            </table>
        </div>
        <a href="/category/register">Add new Category</a>

</div>
</body>
</html>